PROJECT=
PROJECT_ENTRYPOINT=
PROJECT_SUBNET=
PROJECT_CERT_RESOLVER=
PROJECT_DOMAIN_MAIN=
PROJECT_DOMAIN_SANS=
PROJECT_FQDN=

MARIADB_HOST=db
MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=no
MARIADB_RANDOM_ROOT_PASSWORD=no
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=
MARIADB_DB_PREFIX=pwg_
MARIADB_USER=
MARIADB_PASSWORD=

PWG_ADMIN_EMAIL=noreply@domain.tld
PWG_ADMIN_PASSWORD=
PWG_ADMIN_USERNAME=admin

PHP_VERSION=8.4
PIWIGO_VERSION=16.4.0
MARIADB_VERSION=lts

PMA_HOSTPORT=81
PWG_HOSTPORT=80
LDAP_HOST=
