name: Deploy
on:
  push:
    branches:
      - dev
    paths:
      - '**'
      - '!.github/workflows/*'
      - '!README.md'
  workflow_dispatch:
    inputs:
      version_php:
        description: "PHP Version"
        required: true
        default: "8.4"
        type: string
      version_piwigo:
        description: "Piwigo Version"
        required: true
        default: "16.1.0"
        type: string
        
env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Set environment variables (workflow)
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo "VERSION_PHP=${{ inputs.version_php }}" >> $GITHUB_ENV
          echo "VERSION_PIWIGO=${{ inputs.version_piwigo }}" >> $GITHUB_ENV
      - name: Set environment variables (environment)
        if: github.event_name != 'workflow_dispatch' || ( github.event.inputs.version_php == '' &&  github.event.inputs.version_piwigo == '' )
        run: |
          echo "VERSION_PHP=${{ vars.VERSION_PHP }}" >> $GITHUB_ENV
          echo "VERSION_PIWIGO=${{ vars.VERSION_PIWIGO }}" >> $GITHUB_ENV    
      - uses: actions/checkout@v3

      # Login against a Docker registry except on PR
      # https://github.com/docker/login-action
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build piwigo.php
        run: COMPOSE_DOCKER_CLI_BUILD=1 docker compose build piwigo.php
      
      - name: Push piwigo.php
        run: docker compose push


